@media (min-width: 768px) {
    /*pooh*/
    .content-name{
      position: absolute;
      padding-left: 50vw;
      padding-top: 40vw;
    }
    .content-name2{
      position: absolute;
      padding-left: 10vw;
      padding-top: 35vw;
    }
    .content-name3{
      position: absolute;
      padding-left: 47vw;
      padding-top: 23vw;
    }
    .padding-content{
      padding-left: 100px;
      font-size: 24px;
    }
    /**/
}
@media (max-width: 767px){
    /*pooh*/
    .content-name{
      position: absolute;
      padding-left: 45vw;
      padding-top: 40vw;
    }
    .content-name2{
      position: absolute;
      padding-left: 5vw;
      padding-top: 35vw;
    }
    .content-name3{
      position: absolute;
      padding-left: 47vw;
      padding-top: 21vw;
    }
    .padding-content{
      padding-left: 20px;
      font-size: 16px;
    }
  /**/
}
/* pooh*/
body{
  background-color: white;
  font-family: CloudLight;
}
.c1 img{
  padding-bottom: 20px;
}
/**/
