.content-product{
  margin-top: 80px;
  margin-right: 0px;
}
.content-detail{
  margin-top: 60px;
}
@media (min-width: 768px) {
  .img-product img{
    float:right;
    width: 400px;
    margin-top: 30px;
  }
  #Popup{
    margin-top: 10%;
    margin-left: 100px;
  }
  .popup-noti{
    width: 500px;
  }
  .panel{
    width:500px;
  }
  .container{
    width:100%;
  }
  p{
    padding-top: 10px;
    font-size: 36px;
  }
}
@media (max-width: 767px){
  .img-product img{
    float:right;
    width: 100%;
    margin-top: 50px;
  }
  #Popup{
  margin-top: 60%;
  margin-left: 85px;
  }
  .popup-noti{
    width: 250px;
  }
  .panel{
    width:100%;
  }
  .container{
    width:100vw;
  }
  p{
    padding-top: 10px;
    font-size: 20px;
  }
  li{
    font-size: 14px;
  }
}
.header-detail{
  font-family: CloudBold;
}
.body-detail{
  font-family: CloudLight;
}
